/* Improve readability of title on very first slide */
#title-slide {
  background-color: rgba(255, 255, 255, 0.75);
}

/* Center caption together with image */
.quarto-figure-center + .caption, .quarto-figure-center figcaption {
  text-align: center;
}

/* Center all titles */
h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

/* Ensure visibility of attribution text on image background. */
.attribution > .content {
  background-color: white;
}